h2 概要
table.pure-table.center
        tr
            th 会場
            td
        tr
            th 日程
            td 2018年8月24日(仮)
        tr
            th 時間
            td
        tr
            th 参加費
            td
        tr
            th 定員
            td
h2 参加登録
.attend
    .conf
        a(href="") 参加登録はこちら
    br
    .konshinkai
        a(href="") 懇親会はこちら

h2 連絡先
h4
    a(href="https://twitter.com/car4ryu") car4ryu
h4
    a(href="https://twitter.com/ntenten_Q") E-10tyann
h4
    a(href="https://twitter.com/waritocomatta") わりこま
h4
    a(href="https://twitter.com/eniehack") caffeine
