h2 Scedule
table.pure-table
    tr
        th
        td Opening Talk
    tr
        th
        td Lighting Talk
    tr
        th
        td 休憩
    tr
        th
        td Lighting Talk
    tr
        th
        td Ending Talk
    tr
        th
        td 懇親会
